In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/matches/players.csv
/kaggle/input/matches/matches.csv

In [2]:
pathp="/kaggle/input/matches/players.csv"
pathm="/kaggle/input/matches/matches.csv"
players_n=pd.read_csv(pathp)
matches_n=pd.read_csv(pathm)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (11,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Question 1
How many rows are there in the players and matches files? Please provide 2 numbers.

In [3]:
players_n.shape

(20662, 6)

In [4]:
matches_n.shape

(50577, 32)

Question 2
What is the value in the 33rd row, 3rd column of the players dataset?

In [5]:
players_n.iloc[32,2]

'Williams'

Question 3
What is the smallest ID recorded in the winner_id column in the matches dataset?

In [6]:
matches_n["winner_id"].min()

200001

Question 4
What is the average age of losers as recorded in the matches dataset? Please ignore the missing values and round to 2 decimal places.

In [7]:
matches_n["loser_age"].mean().round(2)

23.91

Question 5
Merge the 2 datasets. Use column player_id from players and winner_id from matches for the merge. How many rows does the resulting dataset contain?

In [8]:

mergers=pd.merge(players_n, matches_n, left_on="player_id", right_on="winner_id")

Question 6
What is the name of the winner with the smallest ID (as recorded in the winner_id column) in the matches dataset? Hint: locate the smallest value in the winner_id column, and examine the entire row. Please provide both a first name and last name.

In [9]:
matches_n["winner_id"].min()

200001

In [10]:
matches_n.loc[:,"winner_id"]

0        200001
1        200003
2        200006
3        200008
4        200009
          ...
50572    201506
50573    201594
50574    202427
50575    201594
50576    201593
Name: winner_id, Length: 50577, dtype: int64

In [11]:
matches_n.loc[0,:]

best_of                                    3
draw_size                                128
loser_age                          17.859001
loser_entry                              NaN
loser_hand                                 R
loser_ht                                 NaN
loser_id                              200002
loser_ioc                                CRO
loser_name                     Mirjana Lucic
loser_rank                              49.0
loser_rank_points                      640.0
loser_seed                               NaN
match_num                                  1
minutes                                  NaN
round                                   R128
score                                6-1 6-2
surface                                 Hard
tourney_date                        20000117
tourney_id            2000-W-SL-AUS-01A-2000
tourney_level                              G
tourney_name                 Australian Open
winner_age                         19.296372
winner_entry                             NaN
winner_hand                                R
winner_ht                              170.0
winner_id                             200001
winner_ioc                               SUI
winner_name                   Martina Hingis
winner_rank                              1.0
winner_rank_points                    6003.0
winner_seed                              1.0
year                                    2000
Name: 0, dtype: object

Question 7
How many matches did Serena Williams win at the Grand Slam level? The level of the matches are recorded in the tourney_level column. The value assigned to Grand Slam events is G.

In [12]:
sum((matches_n['winner_name']=='Serena Williams') & (matches_n['tourney_level']=='G'))

297

Question 8

Write a function which takes a player's name as a string parameter. The function should print out the number of Grand Slam events that this player has won.

In [13]:
def WinG(name):
    
    return sum((matches_n['winner_name']==name) & (matches_n['tourney_level']=='G'))

In [14]:
WinG('Serena Williams')

297

Question 9

Plot the number of Grand Slam tournaments Serena Williams won in each tourney. The name of the tournaments are recorded in the tourney_name column of the matches dataset. Note: do not worry about different spellings of tournament names, display them as they appear in the dataset.

In [15]:
import matplotlib as plt

In [16]:
matches_n.head()

,best_of,draw_size,loser_age,loser_entry,loser_hand,loser_ht,loser_id,loser_ioc,loser_name,loser_rank,...,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,year
0,3,128,17.859001,NaN,R,NaN,200002,CRO,Mirjana Lucic,49.0,...,NaN,R,170.0,200001,SUI,Martina Hingis,1.0,6003.0,1.0,2000
1,3,128,27.118412,Q,R,NaN,200004,AUS,Kerry Anne Guse,133.0,...,NaN,R,167.0,200003,BEL,Justine Henin,63.0,510.0,NaN,2000
2,3,128,31.378508,NaN,R,NaN,200005,USA,Jolene Watanabe Giltz,118.0,...,NaN,R,NaN,200006,SVK,Karina Habsudova,53.0,574.0,NaN,2000
3,3,128,22.006845,NaN,R,NaN,200007,CRO,Silvija Talaja,23.0,...,NaN,R,182.0,200008,AUS,Alicia Molik,116.0,245.0,NaN,2000
4,3,128,24.821355,NaN,R,NaN,200010,ITA,Rita Grande,60.0,...,NaN,R,165.0,200009,THA,Tamarine Tanasugarn,72.0,439.0,NaN,2000

In [17]:
data=(matches_n["tourney_name"],matches_n["winner_name"])

In [18]:
matches_n["tourney_name"][:500]

0      Australian Open
1      Australian Open
2      Australian Open
3      Australian Open
4      Australian Open
            ...
495            US Open
496            US Open
497            US Open
498            US Open
499            US Open
Name: tourney_name, Length: 500, dtype: object

Question 10¶

There is a difference in the spelling of one of the tourney names: "US Open"" is also spelled as "Us Open". Please rename all values of "Us Open" in the tourney_name column to "US Open".

Question 11

Now that we know the number of wins by Serena Williams, we would like to understand it better. It is often useful to think about quantities in relative terms. How would you compare the number of Grand Slam wins by Serena Williams to wins by other players?

Question 12

It is possible that left-handed players are at an advantage against right-handed players. Based on this dataset, how would you test this hypothesis? How would you investigate whether the surface has any influence on this relationship?